<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/icon.ico" />
  </head>
  <body>
    {% extends "layout.html"%} {% block content %}
    <title>Customer</title>

    <!-- gallary -->
    <!-- Gallery -->
    <div class="container marketing">
        <div class="bg-success bg-opacity-25 py-5 text-center container marketing" style="height:300px;">
            <h3>Welcome {{session['name']}} to La Plante </h3>
            <img src='{{session['pic']}}' style="border-radius: 50%; width: 100; height:100">
            <h2 class="fw-light" style="margin: 20px">{{email}}</h2>
          </div>
      <div class="row" style="margin-top: 45px;">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img
            src="https://media.istockphoto.com/photos/taking-care-of-my-plants-picture-id1305447687?k=20&m=1305447687&s=612x612&w=0&h=kRIyjgPIM9_yYcSXgGDlUxO3g9VNXyqTHj14nTdXz14="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/botanical-interior-tropical-design-living-room-3d-render-image-picture-id1089911876?k=20&m=1089911876&s=612x612&w=0&h=Z7RDgViBUz2qVvKEfDjv16cEDtUz2t4Zldcwbg2gxCk="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/houseplant-on-the-windowsill-picture-id1148573499?k=20&m=1148573499&s=612x612&w=0&h=-fjESNSTgBpu4d4Q90ajWPzolURZUooGbvZ0YvnPs4Q="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/the-laptop-on-the-table-and-the-green-plants-around-picture-id1221064900?k=20&m=1221064900&s=612x612&w=0&h=QI3RLpE3ihdyg0EJFoAa2QgSJFiDozQqrUoo4EKR89M="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/little-girl-watering-houseplants-picture-id1224760492?k=20&m=1224760492&s=612x612&w=0&h=SJtj-rT3SNTAmvwbivpzpUl-90QmyG7PPhgKevRRdPo="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/senior-woman-at-home-picture-id1145459584?k=20&m=1145459584&s=612x612&w=0&h=fq4e_5DK_vLshxqUapNjqrMckHk-JSlCZhoTN3E5jGU="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/woman-taking-care-of-the-plants-at-her-new-apartment-picture-id1253150850?k=20&m=1253150850&s=612x612&w=0&h=i3f-Prj5bwwb-LS5K4gI3QVdPQ6oV8uaH_MRse_HIM4="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/mischievous-toy-dog-picture-id1200157859?k=20&m=1200157859&s=612x612&w=0&h=ZPulVNoQRZ3KYdV_iHRUilawejNORdL97KWiG7BeAjg="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/happy-gardener-woman-holding-pulverizer-spray-smiling-takes-a-break-picture-id1294209809?k=20&m=1294209809&s=612x612&w=0&h=TCpPkxUbcDo6jLZTGV8dfGJiWQwhs4uJ-B_Zk0O0aPo="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/cozy-home-interior-decor-sansevieria-in-ceramic-pots-on-a-white-table-picture-id1299027323?k=20&m=1299027323&s=612x612&w=0&h=3Aj65jjzwNAeiMfKE79gZG3bx312meg0KC1lzTaYLK8="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

        </div>



        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://media.istockphoto.com/photos/female-shop-keeper-tending-the-plants-at-a-garden-store-picture-id1147393234?k=20&m=1147393234&s=612x612&w=0&h=8pYkpQ7BbG0BNvJ8YgiiXEjE4ipWX7BEnRF4bznHmDc="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/man-caring-for-his-indoor-plants-picture-id1175167738?k=20&m=1175167738&s=612x612&w=0&h=aRPWIOVAdn3kb-EX0DYN8Zc-s78FNfFxN50EXcQ1kTs="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/woman-watering-flowers-picture-id657554006?k=20&m=657554006&s=612x612&w=0&h=irapu4K0OpLpfHzSj4wFV5Spdoz44YHDtrFc48csk9w="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/florist-woman-seedling-plants-picture-id1132392832?k=20&m=1132392832&s=612x612&w=0&h=8nQiCV96slsF65CqdiWpDaZhSlzao3UE3JBlqVsFWXU="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/balcony-garden-picture-id489837880?k=20&m=489837880&s=612x612&w=0&h=hLRN4jOG_t1VOXoAQs5ddTtU5e_Epjnsb57f5MZyOrI="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/variegated-tropical-leaves-pattern-of-snake-plant-or-motherinlaws-picture-id1063250818?k=20&m=1063250818&s=612x612&w=0&h=46bn4ncJrZNpobro7Mx1FUygyFTO-RNTomPqhfhIgXY="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/the-adult-persian-cat-is-sitting-on-the-white-windowsill-and-eating-picture-id1247773737?k=20&m=1247773737&s=612x612&w=0&h=_Qt828CLt7r1oFnnpvJJChHEuBl7e7UURAYkU1NJ2vE="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/chihuahua-dog-sitting-on-the-floor-near-plant-puppy-relax-at-home-picture-id1281577188?k=20&m=1281577188&s=612x612&w=0&h=_kNbgFAFGzwPe3z7Y-mHI7XGI24oJaIELWA36Bh7MpE="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
            src="https://media.istockphoto.com/photos/monstera-in-a-gold-pot-on-a-pink-background-art-concept-minimalism-picture-id1291395979?k=20&m=1291395979&s=612x612&w=0&h=_q59Mf1kWhJvklxtZsVquqWx-EZp2xVxFWdnD6dAc-8="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
        </div>



        <div class="col-lg-4 mb-4 mb-lg-0">
          <img
            src="https://media.istockphoto.com/photos/lovely-housewife-with-flower-in-pot-and-gardening-set-picture-id1037707154?k=20&m=1037707154&s=612x612&w=0&h=7UtJF_uIvoOPhw480lLSfhYB-qIp-EjZyLPofOYEUmA="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/decorative-pot-plant-palm-picture-id464676285?k=20&m=464676285&s=612x612&w=0&h=CIjMYnsFdxlzeSls9IBvzf_CwR6HghueBanTckaASRs="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
          src="https://media.istockphoto.com/photos/closeup-view-of-cute-red-cat-eating-green-houseplant-picture-id1032589874?k=20&m=1032589874&s=612x612&w=0&h=J1Z4_Wp6KDiPTdswE2SN-bjKv1h_sSk7gvROV5s-2fs="
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />

        <img
          src="https://media.istockphoto.com/photos/asian-woman-gardener-potting-new-plant-and-repotting-pot-for-house-picture-id1249487613?k=20&m=1249487613&s=612x612&w=0&h=17B8gHDLCVlE6fUYgGEvwNEXqu1Q7g4a9Qt_d975kIk="
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
        <img
            src="https://media.istockphoto.com/photos/young-adult-woman-at-home-watering-indoor-house-plants-picture-id1063599192?k=20&m=1063599192&s=612x612&w=0&h=v5aJjv53Eis97ygl2wFBLXI2HZw43h7ctJ1ZICnx96U="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />

          <img
            src="https://media.istockphoto.com/photos/miniature-dachshund-picture-id844627454?k=20&m=844627454&s=612x612&w=0&h=hoaTo3QksCq43LFlI85U0s2LFE3OD73oBZR_cEJ9Okw="
            class="w-100 shadow-1-strong rounded mb-4"
            alt=""
          />
          <img
          src="https://media.istockphoto.com/photos/young-adult-woman-at-home-watering-indoor-house-plants-picture-id910228882?k=20&m=910228882&s=612x612&w=0&h=p2jsjPV6EUmVlfmLR4bJhCdxxr4MTqdjtzN_zWlx5Zo="
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />

        <img
          src="https://media.istockphoto.com/photos/candid-portrait-of-woman-drinking-coffee-picture-id1166802668?k=20&m=1166802668&s=612x612&w=0&h=Svj-O4kXEt_0uIJ7_f0pPDcuXFhlzJyCN_hfCPZvZG4="
          class="w-100 shadow-1-strong rounded mb-4"
          alt=""
        />
        </div>
      </div>
    </div>
    <!-- Gallery -->
    {% endblock %}
  </body>
</html>
