<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/icon.ico">
  </head>
  <body>
    {% extends "layout.html"%} 
    {% block content %}
    <title>plant</title>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      
    </style>
    <main>
      <div class="bg-success bg-opacity-25 py-5 text-center container marketing" style="height:300px;">
        <h3>Welcome {{session['name']}} to La Plante </h3>
        <img src='{{session['pic']}}' style="border-radius: 50%; width: 100; height:100">
        <h2 class="fw-light" style="margin: 20px">{{email}}</h2>
      </div>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/5.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Peace Lily Plant</h4>
                  <p class="card-text">If you like the look of the pink anthurium above, a peace lily may also be right for you. Like the previous plant, the peace lily is relatively easy to care for and produces its signature sculptural blooms year-round. Just be sure to keep it out of direct sunlight and avoid overwatering. As with the pink anthurium, it’s toxic to children and pets if consumed, so do keep it out of reach.Like many popular indoor plants, peace lilies enjoy medium to low light.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$28-$64</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/p2.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Aralia Fabian</h4>
                  <p class="card-text">The Aralia Fabian reminds Its beauty and weirdness comes from its thick burly trunk, thin speckled branches,place your plant in a pot that has a drainage hole and water it until water comes out in the base tray. Repeat only when the top two inches of soil become completely dry. It can live in a nice spot that has bright indirect light. If you don’t have that, a mix of dappled light throughout the day will also work well.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$38-$108</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                src="static/3.jpg"
                alt=""
                style="width: 100%; height: 100%;"
              />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Philodendron</h4>
                  <p class="card-text">This is a staple interior plant that is great for apartment dwellers because it’ll tell you exactly what it wants. For example, is it turning yellow? That means it’s getting too much sunlight. Is it growing small leaves? That means it wants more fertilizer, so feed it a liquid houseplant fertilizer with macronutrients. For a happy plant, allow one inch of soil to dry (about the length from your index finger to your first knuckle) between waterings.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$28-$64</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/4.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">ZZ Plant</h4>
                  <p class="card-text">Previously, the ZZ plant would only be found in planters in malls and large office buildings where they would frequently be mistaken for fake plants, partially because they needed so little care and always looked healthy. But in recent years, they have found their way onto the shelves of both big box and hardware stores where anyone can purchase one. This has led to many people wondering how to grow ZZ plants.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$38-$88</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/p1.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Perennial</h4>
                  <p class="card-text">Common Name are Kentia palm, sentry palm and paradise palm. These palms are known for their ability to grow to a strikingly great height: 40 feet outside or up to 12 feet inside, even in less-than-ideal conditions. They have long, slender leaves on graceful fronds in an attractive shade of deep green.keep yours a manageable size for as long as possible, start with a smaller tree only a few feet high.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$28-$88</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/6.jpg"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Pothos</h4>
                  <p class="card-text">The pothos plant is considered by many to be a great way to get started caring for houseplants. Since pothos care is easy and undemanding, this lovely plant is an easy way to add some green in your home. make a great addition to your bathroom or office because they can tolerate low light. While pothos likes a wide variety of light conditions, they do not do well in direct sunlight temp 50 and 75 Fahrenheit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$28-$46</small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/10.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Spider Plant</h4>
                  <p class="card-text">The spider plant (Chlorophytum comosum) is considered one of the most adaptable of houseplants and the easiest to grow. This plant can grow in a wide range of conditions and suffers from few problems, other than brown tips. Available in green or variegated varieties, these spiderettes often start out as small white flowers.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$38-$64</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                src="static/8.png"
                alt=""
                style="width: 100%; height: 100%;"
              />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Snake Plant</h4>
                  <p class="card-text">This succulent is incredibly tough and can survive nearly any environment. The snake plant has tall, slender leaves that can tolerate low light (though it’ll thrive in medium or bright light). Water occasionally, allowing the soil to dry between waterings. The plant grows best in typical indoor temps—between 60 and 85 Fahrenheit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$38-$64</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="static/9.png"
                  alt=""
                  style="width: 100%; height: 100%;"
                />
                <div class="card-body">
                  <h4 class="card-text" style="color:#30A88E">Monstera Deliciosa</h4>
                  <p class="card-text">With its thick, Swiss cheese–like leaves and tropical feel, the Monstera deliciosa is a perfectly bold plant that can truly thrive in an apartment. They can tolerate many levels of sunlight and even grow under fluorescent lights. While you should water your Monstera regularly, it can survive a missed watering every now and then.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-lg btn-outline-success">Buy</button>
                      <button type="button" class="btn btn-lg btn-outline-success" style="width: 70px;" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                        <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                      </svg></button>
                    </div>
                    <small class="text-muted">$20</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </main>
    {% endblock %}
  </body>
</html>
