<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/icon.ico">
</head>
<body>
{% extends "layout.html"%} {% block content %}
<title>Signup</title>
<div class="container marketing">
  <div class="row">
    <div class="col">
      <div class="col">
        <h4>REGISTER</h4>
        <p style="font-size: 45px; font-weight: 600; text-align: left; color:#30A88E">Create Account</p>
        <p class="col">Do you already have an account?  <a class="nav-link link-success" href="/logining"> Login --></a> </p>
      </div>
    </div>
    <div class="col">
      <form method="POST" style="margin-top: 35px">
        <h1 style="color:#30A88E""> Sign Up </h1>
        <div class="form-group mb-3" style="width: 500px; margin-top: 35px">
          <label for="email" class="form-label">E-mail Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter E-mail"
            style="height: 65px;"
          />
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
            style="height: 65px;"
          />
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="password1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
            style="height: 65px;"
          />
        </div>
        <div class="form-group mb-3" style="width: 500px;">
          <label for="password2" class="form-label">Password (Confirm)</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
            style="height: 65px;"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-success mb-3" style="height: 65px; width: 500px;">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
